version: '3'
services:
  workspace:
    volumes:
      - .:/workspace:cached
      - bashhistory:/commandhistory
      - vscode-extension-volume:/root/.vscode-server/extensions
volumes:
  bashhistory:
  vscode-extension-volume: {}

